#posts {
	background-color: white;
	width: 100%;
	border-spacing: 0;
}

.post {
	padding: 0.5em 1em;
	border: 1px solid #E0E0E0;
	border-bottom: none;
}

.post-row {
	height: 100%;
}

.post-spacing {
	height: 2px;
	border-top: 1px solid #E0E0E0;
	background-color: #EEE;
}

.post-title {
	color: black;
}

.post-title:visited {
	color: #747474;
}

.post-title:hover {
	color: black;
}

.post-info {
	font-size: 0.7em;
	color: #747474;
}

.post-info a {
	color: black;
}

.post-actions {
	color: #747474;
	font-size: 0.7em;
}

.post-actions button {
	background: none;
	border: none;
	color: inherit;
	margin: 0;
	padding: 0;
}

.vote-count {
	padding: 0 0.3em;
}

.post-icon {
	background-color: #BDBDBD;
	width: 5em;
	height: 100%;
	text-align: center;
	padding: 0;
}

.post-icon label {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	cursor: pointer;
}

.thumbnail-icon {
	width: 5em;
	height: 100%;
	object-fit: cover;
}

.placeholder-icon {
	width: 2em;
	height: 2em;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.comments {
	padding-left: 0.5rem;
	color: #747474;
}

.comments:hover {
	color: black;
}

.post-content {
	overflow-y: hidden;
}

.post-content {
	max-height: 0;
	margin-top: -1px;
	background-color: white;
	transition-property: max-height, padding, margin-bottom;
	transition-duration: 100ms;
	white-space: pre-wrap;
	font-size: 0.8em;
	text-align: left;
	border: 1px solid #E0E0E0;
	border-top: none;
	border-bottom: none;
	box-sizing: content-box;
}

.post-content img {
	max-width: 400px;
}

.post-content-checkbox {
	display: none;
}

.post-content-checkbox:checked + .post-content {
	max-height: 100vh;
	padding: 0.5em 1em;
	margin-top: -2px;
}

