body {
	font-family: sans-serif;
	background-color: #EEE;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#posts {
	background-color: white;
	width: 100%;
	border-collapse: collapse;
}

.post {
	padding: 0.5em 1em;
}

.post-row + .post-row {
	border-top: 2px solid #EEE;
}

.post-title {
	color: black;
}

.post-title:visited {
	color: #747474;
}

.post-title:hover {
	color: black;
}

.post-info {
	font-size: 0.7em;
	color: #747474;
}

.post-info a {
	color: black;
}

.post-actions {
	color: #747474;
	font-size: 0.7em;
}

.post-actions button {
	background: none;
	border: none;
	color: inherit;
	margin: 0;
	padding: 0;
}

.vote-count {
	padding: 0 0.3em;
}

.post-icon {
	background-color: #BDBDBD;
	width: 5em;
	height: 100%;
	text-align: center;
}

.placeholder-icon {
	width: 2em;
	height: 2em;
}

.comments {
	padding-left: 0.5rem;
	color: #747474;
}

